* {
	box-sizing: border-box;
	/*padding: 20px;*/
	/*margin: 0 auto;*/
	/*flex-wrap: wrap;*/
}

body {
	height: 100vh;
	margin: 0;
	background: #1B2473;
	font-family: Roboto,Aial,sans-serif;
	color: #787878;
 }



@media screen and (max-width: 768px) and (min-width: 320px) {

	.form {
		max-width: 100%;
		height: 697px;
		margin-left: 20px;
		margin-top: 20px;
		background: #FFFFFF;
		box-shadow: 0 0 40px 10px  rgba(0, 0, 0, 0.25);
		border-radius: 20px;
	}


	.h1 {

		width: 138px;
		height: 50px;
		left: 288px;
		top: 38px;
		text-align: center;
		/*font-family: 'Roboto', sans-serif;*/
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		line-height: 50px;
		color: #787878;

	}

	.form__label-email {

		width: 60px;
		height: 16px;
		left: 56px;
		top: 13px;
		/*font-family: 'Roboto', sans-serif;*/
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 16px;
		color: #787878;
	}

	.form__input-email {

		width: 638px;
		height: 49px;
		left: 45px;
		top: 37px;
		background: #FFFFFF;
		border: 2px solid #787878;
		box-sizing: border-box;
		border-radius: 10px;

	}

	.form__password-label {

		width: 84px;
		height: 16px;
		left: 53px;
		top: 20px;
		/*font-family: 'Roboto', sans-serif;*/
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 16px;
		color: #787878;
	}

	.form__password-input {

		width: 638px;
		height: 49px;
		left: 0;
		top: 24px;
		background: #FFFFFF;
		border: 2px solid #787878;
		box-sizing: border-box;
		border-radius: 10px;
	}

	.form__password {

		width: 509px;
		height: 49px;
		left: 0;
		top: -0;
		background: #FFFFFF;
		border: 2px solid #787878;
		box-sizing: border-box;
		border-radius: 10px;
	}

	.form__checkbox-input {
		width: 24px;
		height: 24px;
		border-radius: 7px;
		z-index: auto;

	}

	.form__checkbox-label {
		width: 358px;
		height: 16px;
		top: 287px;
		left: 87px;



	}

	.form__button {
		width: 220px;
		height: 80px;
		border-radius: 10px;
		background-color: rgba(26, 34, 107,1);
	}

}

@media screen and (max-width: 1440px) and (min-width: 769px) {

    	.form {
			/*max-width: 600px;*/
			/*height: 300px;*/
			/*margin-left: 412px;*/
			/*margin-top: 82px;*/
			/*background: #FFFFFF;*/
			/*box-shadow: 0 0 40px 10px;*/
			/*rgba(0, 0, 0, 0.25);*/
			/*border-radius: 20px;*/

			width: 600px;
			height: 412px;
			top: 82px;
			/*padding: 26px 45px;*/
			box-shadow: 0 0 40px 10px
			rgba(0, 0, 0, 0.25);
			background: #FFFFFF;
			border-radius: 20px
			}

		.title {

			max-width: 115px;
			height: 50px;
			left: 242px;
			top: 26px;
			text-align: center;
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 50px;
			color: #787878;

		}

		.form__label {

			width: 40px;
			height: 16px;
			left: 53px;
			top: 93px;
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			color: #787878;
			}

		.form__input {
			width: 509px;
			height: 49px;
			left: 45px;
			right: 46px;
			top: 112px;
			background: #FFFFFF;
			border: 2px solid #787878;
			box-sizing: border-box;
			border-radius: 10px;

		}

		.form__label {

			width: 56px;
			height: 16px;
			left: 53px;
			top: 174px;
			/*font-family: 'Roboto', sans-serif;*/
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			color: #787878;
		}

		.form__password {

			/*width: 509px;*/
			height: 49px;
			left: 45px;
			right: 46px;
			top: 193px;
			background: #FFFFFF;
			border: 2px solid #787878;
			box-sizing: border-box;
			border-radius: 10px;
	   }

		.form__checkbox-wrapper {
			width: 24px;
			height: 24px;
			border-radius: 7px;
			top: 258px;
			left: 45px;
			z-index: auto;
		}

		.form__checkbox-label {
			width: 278px;
			height: 16px;
			top: 262px;
			left: 79px;

		}

		.form__button {
			width: 180px;
			height: 52px;
			border-radius: 10px;
			background-color: rgba(26, 34, 107,1);
			top: 334px;
			left: 218px;
		}
}